.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list::before,
.list::after {
  content: '';
  display: table;
}

.list::after {
  clear: both;
}

.item {
  box-sizing: border-box;
  margin: 20px 10px;
  width: 350px;
  float: left;
}


.item:first-child {
  margin-left: 0;
}

.item:last-child {
  margin-right: 0;
}
